/* variables
----------------------------------------------------------------------------- */
/* mixins
----------------------------------------------------------------------------- */
/* reset
----------------------------------------------------------------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

article,
aside,
code,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}

body {
  font-family: helvetica, arial, sans-serif;
  background: #fafafa;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul, li {
  list-style: none;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: none;
  outline: none;
  font-family: inherit;
  font-size: 100%;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* helpers
----------------------------------------------------------------------------- */
.btn {
  border: 1px solid #27282C;
  padding: .25rem 1rem;
  background: transparent;
  transition: 300ms;
}

/* layout:
----------------------------------------------------------------------------- */
#site-wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background: #fff;
}

/* typography
----------------------------------------------------------------------------- */
/* header
----------------------------------------------------------------------------- */
header {
  width: 100%;
  height: 8.5rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  header {
    padding: 0 120px;
    flex-direction: row;
    align-items: center;
    border-bottom: 0.5rem solid #ffdb5a;
  }
}

header .logo {
  width: 170px;
  margin-right: 65px;
  text-decoration: none;
}

header .line-one,
header .line-two {
  display: block;
  font-family: helvetica;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
}

header .line-one {
  color: #27282C;
  background: #ffdb5a;
}

header .line-two {
  color: #fff;
  background: #27282C;
}

header nav,
header .nav-pages,
header .nav-cta {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  header nav,
  header .nav-pages,
  header .nav-cta {
    flex-direction: row;
    align-items: center;
  }
}

header .nav-link {
  font-size: 1rem;
  color: #27282C;
  font-weight: 700;
  text-decoration: none;
}

header .nav-pages {
  justify-content: space-between;
  background: #ffdb5a;
}

@media (min-width: 1074px) {
  header .nav-pages {
    width: 615px;
    margin-right: 32px;
    background: #fff;
  }
}

header .nav-cta .nav-item {
  height: 3rem;
  padding: 0 .75rem;
  display: flex;
  align-items: center;
}

header .nav-cta .nav-item:first-of-type {
  background: #fff;
}

@media (min-width: 1074px) {
  header .nav-cta .nav-item:first-of-type {
    background: #ffdb5a;
    margin-right: 1rem;
  }
}

header .nav-cta .nav-item:last-of-type {
  background: #27282C;
}

header .nav-cta .nav-item:last-of-type .nav-link {
  color: #fff;
}
