/* fonts:
----------------------------------------------------------------------------- */
@font-face {
  font-family: 'helvetica now regular';
  src: url("../fonts/HelveticaNowText-Regular/font.woff2") format("woff2"), url("../fonts/HelveticaNowText-Regular/font.woff") format("woff");
}

@font-face {
  font-family: 'helvetica now medium';
  src: url("../fonts/HelveticaNowText-Medium/font.woff2") format("woff2"), url("../fonts/HelveticaNowText-Medium/font.woff") format("woff");
}

@font-face {
  font-family: 'helvetica now bold';
  src: url("../fonts/HelveticaNowText-ExtraBold/font.woff2") format("woff2"), url("../fonts/HelveticaNowText-ExtraBold/font.woff") format("woff");
}

/* variables
----------------------------------------------------------------------------- */
/* mixins
----------------------------------------------------------------------------- */
/* reset
----------------------------------------------------------------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

article,
aside,
code,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}

body {
  font-family: helvetica, arial, sans-serif;
  color: #27282C;
  background: #fafafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
li {
  list-style-type: none;
}

button {
  border: none;
  border-radius: none;
  outline: none;
  font-family: inherit;
  font-size: 100%;
  align-items: center;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* helpers
----------------------------------------------------------------------------- */
.wrap {
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  /*

  @include mq() {
    padding: 0 4rem;
  }
  @include mq() {
    padding: 0 6rem;
  }

 */
}

@media (min-width: 1120px) {
  .wrap {
    padding: 0 10rem;
  }
}

.btn {
  border: 1px solid #27282C;
  padding: .25rem 1rem;
  background: transparent;
  transition: 300ms;
}

/* globals
----------------------------------------------------------------------------- */
.image-text ul,
.text-image ul,
.text-basic ul {
  margin-bottom: 3rem;
  transform: translateX(28px);
}

.image-text ul li,
.text-image ul li,
.text-basic ul li {
  margin-bottom: 3rem;
  font-family: 'helvetica neue';
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.03rem;
  list-style-type: disc;
  list-style-position: outside;
}

@media (min-width: 880px) {
  .image-text ul li,
  .text-image ul li,
  .text-basic ul li {
    font-family: 'helvetica now regular';
    letter-spacing: 0.015rem;
  }
}

.image-text ul:last-of-type,
.text-image ul:last-of-type,
.text-basic ul:last-of-type {
  margin-bottom: 6rem;
}

.breadcrumbs {
  padding: 0 2rem;
  font-family: 'helvetica now regular';
  font-size: 21px;
  line-height: 1.47;
  letter-spacing: 0.026rem;
  color: #27282C;
  transform: translateX(-1rem);
}

.breadcrumbs a {
  padding-left: 1.125rem;
  padding-right: 1.125rem;
  font-size: 21px;
  line-height: 1.47;
  letter-spacing: 0.026rem;
  color: #27282C;
  text-decoration: none;
}

.breadcrumbs span {
  padding-left: 10px;
}

.breadcrumbs span:first-of-type {
  padding-left: 0;
}

@media (min-width: 1120px) {
  .breadcrumbs {
    padding: 0 10rem;
  }
}

/* layout:
----------------------------------------------------------------------------- */
#site-wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 100px auto 0;
  background: #fff;
}

/* typography
----------------------------------------------------------------------------- */
h1,
h2,
h3,
h4 {
  font-family: 'helvetica now bold';
}

.page-title {
  padding: 0 2rem;
  margin-top: 4.25rem;
  margin-bottom: 5rem;
  font-family: 'helvetica neue';
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.15rem;
  color: #27282C;
}

.page-title:after {
  content: '';
  width: 3rem;
  height: 10px;
  margin-top: 1rem;
  display: block;
  background: #ffdb5a;
}

@media (min-width: 560px) {
  .page-title {
    font-size: 3.5rem;
    letter-spacing: 0.21rem;
  }
}

@media (min-width: 880px) {
  .page-title {
    font-family: 'helvetica now bold';
    font-size: 4rem;
    letter-spacing: 0.12rem;
  }
}

@media (min-width: 1120px) {
  .page-title {
    padding: 0 10rem;
  }
}

/* grids
----------------------------------------------------------------------------- */
.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  width: 100%;
}

@media (min-width: 880px) {
  .grid-item {
    width: calc(50% - 48px);
    margin-left: 6rem;
  }
}

.grid-item:nth-of-type(2n-1) {
  margin-left: 0;
}

/* accordian
----------------------------------------------------------------------------- */
.accordian {
  width: 100%;
  padding: 0 2rem;
}

@media (min-width: 880px) {
  .accordian {
    width: 83.25%;
  }
}

@media (min-width: 1120px) {
  .accordian {
    padding: 0 10rem 120px 10rem;
  }
}

.accordian .section-title {
  margin-bottom: 5rem;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.06rem;
}

.accordian .section-title:after {
  content: '';
  width: 3rem;
  height: 10px;
  margin-top: 1rem;
  display: block;
  background: #ffdb5a;
}

@media (min-width: 880px) {
  .accordian .section-title {
    font-size: 3rem;
  }
}

.accordian .text {
  font-family: 'helvetica now medium';
  margin-bottom: 4rem;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.06rem;
}

@media (min-width: 880px) {
  .accordian .text {
    font-size: 2.5rem;
  }
}

.accordian .accordian-item {
  margin-bottom: 2.5rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.03rem;
}

@media (min-width: 880px) {
  .accordian .accordian-item {
    font-size: 1.5rem;
  }
}

.accordian .item-title-holder {
  padding: 1.5rem 3rem;
  border-top: 1px solid rgba(39, 40, 44, 0.2);
  border-right: 1px solid rgba(39, 40, 44, 0.2);
  border-left: 1px solid rgba(39, 40, 44, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordian .item-title-holder h3 {
  max-width: 80%;
  font-family: 'helvetica now medium';
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.6;
}

.accordian .item-title-holder button {
  width: 50px;
  height: 50px;
  background: url("/wp-content/themes/cornwall-advocacy/icons/Icon_Plus.svg");
  background-repeat: no-repeat;
  transition: 300ms;
}

.accordian .inherit-animation button {
  transform: rotate(-45deg);
}

.accordian .item-content {
  height: 0;
  padding: 0 3rem;
  border-top: none;
  border-right: 1px solid rgba(39, 40, 44, 0.2);
  border-bottom: 1px solid rgba(39, 40, 44, 0.2);
  border-left: 1px solid rgba(39, 40, 44, 0.2);
  overflow: hidden;
  transition: 300ms;
}

.accordian .item-content.accordian-open {
  height: 100%;
  padding: 3rem;
}

.accordian .item-content p {
  margin: 2rem 0;
  font-family: 'helvetica now regular';
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2;
}

.accordian .item-content p img {
  margin-bottom: 4rem;
}

.accordian .item-content ul {
  transform: translateX(28px);
}

.accordian .item-content li {
  margin-bottom: 2rem;
  font-family: 'helvetica now regular';
  font-size: 1.5rem;
  list-style-type: disc;
  list-style-position: outside;
}

/* header
----------------------------------------------------------------------------- */
header {
  position: fixed;
  top: 0;
  width: inherit;
  max-width: inherit;
  border-bottom: 0.5rem solid #ffdb5a;
  display: flex;
  flex-direction: column;
  background: #fff;
  transition: .5s;
  z-index: 2;
  /* logo  */
}

@media (min-width: 880px) {
  header {
    height: 140px;
    padding: 0 5%;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1120px) {
  header {
    padding: 0 7.5rem;
  }
}

header .logo {
  display: block;
  width: 130px;
  margin: 1.9rem 0 1.75rem 2rem;
  text-decoration: none;
  transition: .5s;
}

@media (min-width: 880px) {
  header .logo {
    width: 150px;
    margin: 38px 0 0 0;
    align-self: flex-start;
  }
}

@media (min-width: 1120px) {
  header .logo {
    width: 170px;
  }
}

@media (min-width: 1440px) {
  header .logo {
    width: 150px;
  }
}

header .line-one,
header .line-two {
  display: block;
  font-family: helvetica, arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.05rem;
}

header .line-one {
  color: #27282C;
  background: #ffdb5a;
}

header .line-two {
  color: #fff;
  background: #27282C;
}

header .menu {
  width: 4.75rem;
  height: 3rem;
  padding: .25rem 1rem;
  position: absolute;
  right: 2rem;
  top: 2rem;
  color: #fff;
  font-weight: bold;
  background: #27282C;
  transition: 300ms;
}

@media (min-width: 880px) {
  header .menu {
    display: none;
  }
}

header nav {
  position: relative;
  height: 0;
  overflow: hidden;
  background: #ffe68c;
  transition: .4s;
}

header nav.nav-open {
  height: calc(675px + 2.5rem);
}

@media (min-width: 880px) {
  header nav {
    height: auto;
    padding-top: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: #fff;
  }
}

@media (min-width: 1281px) {
  header nav {
    flex-direction: row;
    align-items: center;
  }
}

header nav .nav-item {
  position: relative;
}

header nav .nav-item .menu-toggle {
  position: absolute;
  top: 1rem;
  right: 0;
  width: 30px;
  height: 30px;
  background: transparent;
  display: block;
}

header nav .nav-item .menu-toggle:before {
  content: '';
  width: 24px;
  height: 4px;
  display: block;
  transform: translateY(3px);
  background: #27282C;
}

header nav .nav-item .menu-toggle:after {
  content: '';
  width: 24px;
  height: 4px;
  display: block;
  transform: rotate(90deg);
  background: #27282C;
}

@media (min-width: 880px) {
  header nav .nav-item .menu-toggle {
    display: none;
  }
}

header nav .nav-pages {
  padding: 2.5rem;
  /* mobile child nav
    ------------------------------------------------------------------------- */
  /* --------------------------------------------------------------------- */
}

@media (min-width: 880px) {
  header nav .nav-pages {
    min-width: 615px;
    padding: 0;
    margin-bottom: 1.5rem;
    transition: margin-bottom 0.5s;
    display: flex;
    flex-direction: column;
    flex-direction: row;
    justify-content: space-between;
    order: 2;
    background: #fff;
  }
}

@media (min-width: 1281px) {
  header nav .nav-pages {
    margin: 0 2rem 0 0;
    transition: margin 0.5s;
    order: 1;
  }
}

header nav .nav-pages .nav-link {
  font-family: 'helvetica neue';
  font-size: 1.65rem;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.02rem;
  text-decoration: none;
  color: #27282C;
}

@media (min-width: 480px) {
  header nav .nav-pages .nav-link {
    font-size: 2rem;
  }
}

@media (min-width: 880px) {
  header nav .nav-pages .nav-link {
    font-size: 1rem;
    line-height: 0;
  }
}

header nav .nav-pages .mobile-child-nav {
  height: 0;
  overflow: hidden;
  background: #ffe68c;
  transition: .2s;
}

header nav .nav-pages .mobile-child-nav .mobile-child-nav-item {
  font-family: 'helvetica neue';
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2;
}

header nav .nav-pages .mobile-child-nav .mobile-child-nav-item a {
  margin-left: 1rem;
  color: #27282C;
  text-decoration: none;
}

header nav .nav-pages .mobile-child-nav.show {
  height: calc(146px);
  padding: 1.5rem 0;
}

@media (min-width: 880px) {
  header nav .nav-pages .mobile-child-nav {
    display: none;
  }
}

header nav .nav-cta {
  margin: 2.5rem 2rem;
  transition: margin 0.5s;
}

@media (min-width: 880px) {
  header nav .nav-cta {
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    flex-direction: row;
    order: 1;
    transition: .3s;
  }
}

@media (min-width: 1281px) {
  header nav .nav-cta {
    order: 2;
  }
}

header nav .nav-cta .nav-link {
  font-family: 'helvetica neue';
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.02rem;
  color: #27282C;
  text-decoration: none;
  transition: .3s;
}

header nav .nav-cta .nav-item {
  max-width: 350px;
  height: 3rem;
  padding: 0 .75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav .nav-cta .nav-item:first-of-type {
  margin-bottom: 1rem;
  background: #fff;
}

@media (min-width: 880px) {
  header nav .nav-cta .nav-item:first-of-type {
    background: #ffdb5a;
    margin-bottom: 0;
    margin-right: 1rem;
  }
}

header nav .nav-cta .nav-item:last-of-type {
  background: #27282C;
}

header nav .nav-cta .nav-item:last-of-type .nav-link {
  color: #fff;
}

/* header scrolled
----------------------------------------------------------------------------- */
/*
header.nav-scrolled {
  // if you inspect the header you'll see the nav-scrolled class getting added on scroll
  // header.nav-srolled is using specifity to dircetly target it's descendents.. :)
  height: 72px;

  @media only screen and (min-width: 880px) {
    height: 92px;
  }

  @media only screen and (min-width: 1290px) {
    height: 72px;
  }


  .logo {
    // negative top margin needed to offset the border bottom
    margin-top: -4px;
    margin-bottom: 0px;
    transform: scale(.7540588, .6666666) translateX(5px);
  }

  .menu {
    // -32 + 8 needed to virtical centre align the button
    margin-top: -24px;
  }

  .nav-cta {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .nav-cta .nav-item {
    transform: scale(.833333333);
  }
}
*/
/* footer
----------------------------------------------------------------------------- */
.footer-statement {
  padding: 3rem 2.5rem 3rem;
  border-top: 2.5rem solid #ffe68c;
  background: #ffdb5a;
}

@media (min-width: 1120px) {
  .footer-statement {
    padding: 5rem 7.5rem 3rem;
  }
}

.footer-statement .logo {
  width: 215px;
  margin-bottom: 2.5rem;
  display: inline-block;
  text-decoration: none;
}

.footer-statement .logo .line-one,
.footer-statement .logo .line-two {
  display: block;
  padding: .375rem 0;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.05rem;
}

.footer-statement .logo .line-one {
  color: #27282C;
  background: #fff;
}

.footer-statement .logo .line-two {
  color: #fff;
  background: #27282C;
}

.footer-statement .content {
  display: flex;
  flex-direction: column;
}

@media (min-width: 960px) {
  .footer-statement .content {
    flex-direction: row;
  }
}

.footer-statement .left-col,
.footer-statement .right-col {
  width: 100%;
  margin-bottom: 1.5rem;
}

@media (min-width: 880px) {
  .footer-statement .left-col,
  .footer-statement .right-col {
    margin-bottom: 2.5rem;
  }
}

.footer-statement .left-col .text {
  margin: 1rem 0 4rem 0;
  font-family: 'helvetica now medium';
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.09rem;
}

@media (min-width: 880px) {
  .footer-statement .left-col .text {
    font-size: 2rem;
    letter-spacing: 0.06rem;
  }
}

.footer-statement .left-col .link {
  height: 4rem;
  padding: 0 2rem;
  border: 1px solid #27282C;
  margin-bottom: 7.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: 'helvetica neue';
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.47;
  letter-spacing: 0.02rem;
  text-decoration: none;
  color: #fff;
  background: #27282C;
  transition: ease-in 300ms;
}

@media (min-width: 880px) {
  .footer-statement .left-col .link {
    font-size: 1.313rem;
    line-height: 1.22;
  }
}

.footer-statement .left-col .link:hover {
  color: #27282C;
  background: #fff;
}

@media (min-width: 960px) {
  .footer-statement .right-col {
    padding-left: 11%;
  }
}

.footer-statement .right-col .link {
  display: block;
  margin-bottom: 2.5rem;
  font-family: 'helvetica now bold';
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.068rem;
  text-decoration: none;
  color: #27282C;
}

@media (min-width: 880px) {
  .footer-statement .right-col .link {
    margin-bottom: 3.5rem;
    font-family: 'helvetica neue';
    font-size: 1.125rem;
    line-height: 1.875;
    letter-spacing: 0.09rem;
  }
}

@media (min-width: 1120px) {
  .footer-statement .right-col .link {
    font-size: 1.5rem;
  }
}

.footer-statement .right-col .link:hover {
  text-decoration: underline;
}

.footer-statement .right-col .link-contact:before,
.footer-statement .right-col .link-facebook:before {
  content: '';
  width: 5rem;
  height: 5rem;
  margin-right: 1.5rem;
  margin-bottom: 2.5rem;
  display: block;
}

@media (min-width: 460px) {
  .footer-statement .right-col .link-contact:before,
  .footer-statement .right-col .link-facebook:before {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
  }
}

.footer-statement .right-col .link-contact:before {
  background-image: url("/wp-content/themes/cornwall-advocacy/icons/Icon_Contact.svg");
}

.footer-statement .right-col .link-facebook:before {
  background-image: url("/wp-content/themes/cornwall-advocacy/icons/Icon_Facebook.svg");
}

.footer-details {
  padding: 1.625rem 2.5rem;
  border-bottom: 1rem solid #27282C;
  display: flex;
  flex-direction: column;
  font-family: 'helvetica neue';
  font-size: 1rem;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.02rem;
  color: #27282C;
}

@media (min-width: 1120px) {
  .footer-details {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'helvetica now medium';
    font-weight: 500;
    line-height: 1.47;
  }
}

@media (min-width: 1120px) {
  .footer-details {
    padding: 1.625rem 7.5rem;
  }
}

.footer-details .organisation-info {
  margin-bottom: 2rem;
}

@media (min-width: 880px) {
  .footer-details .organisation-info {
    margin-bottom: 0;
    display: flex;
  }
}

.footer-details p,
.footer-details .nav-item {
  margin-right: 1.75rem;
}

.footer-details p:last-child,
.footer-details .nav-item:last-child {
  margin-right: 0;
}

.footer-details .footer-nav .nav-link {
  font-weight: 700;
  text-decoration: none;
  color: #27282C;
}

@media (min-width: 880px) {
  .footer-details .footer-nav .nav-link {
    font-weight: 500;
  }
}

.footer-details .footer-nav .nav-link:hover {
  text-decoration: underline;
}

@media (min-width: 880px) {
  .footer-details .footer-nav {
    display: flex;
  }
}

/* banner
----------------------------------------------------------------------------- */
/*
.banner-home {
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}
*/
.banner-home {
  position: relative;
  width: 100%;
  color: #27282C;
  background-color: #FFE99C;
}

@media (min-width: 480px) {
  .banner-home {
    display: flex;
  }
}

@media (min-width: 880px) {
  .banner-home {
    margin-bottom: 7.5rem;
  }
}

.banner-home .home-title-cont {
  width: 100%;
  font-family: 'helvetica now bold';
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.2;
  text-align: center;
  padding: 5rem 2rem 5rem 2rem;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 480px) {
  .banner-home .home-title-cont {
    padding: 10rem 2rem 10rem 2rem;
  }
}

@media (min-width: 880px) {
  .banner-home .home-title-cont {
    width: 50%;
    font-size: 2rem;
    line-height: 5rem;
    text-align: left;
    padding: 11.1% 5% 11.1% 5%;
  }
}

@media (min-width: 1120px) {
  .banner-home .home-title-cont {
    font-size: 2.5rem;
    line-height: 1.2;
    letter-spacing: 0.15rem;
    padding: 6.5% 11.1% 6.5% 11.1%;
  }
}

@media (min-width: 480px) {
  .banner-home .home-title-cont .home-title {
    padding-bottom: 6rem;
  }
}

.banner-home .banner-home-img {
  display: none;
}

@media (min-width: 880px) {
  .banner-home .banner-home-img {
    display: block;
    width: 50%;
    object-fit: cover;
  }
}

.banner-home .home-text-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #ffdb5a;
}

@media (min-width: 480px) {
  .banner-home .home-text-cont {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

@media (min-width: 880px) {
  .banner-home .home-text-cont {
    margin-left: 10%;
    margin-right: 10%;
  }
}

.banner-home .home-text-cont .home-text {
  font-family: 'helvetica now medium';
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.045rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

@media (min-width: 880px) {
  .banner-home .home-text-cont .home-text {
    font-size: 1.5rem;
    line-height: 2.1;
  }
}

.banner-home .home-text-cont .icon-1 {
  min-width: 4rem;
  background-color: #27282C;
}

@media (min-width: 880px) {
  .banner-home .home-text-cont .icon-1 {
    min-width: 6rem;
  }
}

.banner-home .home-text-cont .icon-2 {
  min-width: 4rem;
  background-color: #fff;
}

@media (min-width: 880px) {
  .banner-home .home-text-cont .icon-2 {
    min-width: 6rem;
  }
}

/* banner
----------------------------------------------------------------------------- */
.banner {
  position: relative;
  padding: 8rem 0.5rem 4rem 0.5rem;
  margin-bottom: 5.25rem;
  display: flex;
  justify-content: center;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  /*
  .headline {
    padding: 0.5rem 0.25rem;
    font-family: $primary;
    font-size: $font-root;
    font-weight: $font-bold;
    line-height: 1.5;
    text-align: center;
    color: $base;
    background-color: $brand;

    @include mq($break-vs) {
      padding: 0.5rem 0.75rem;
    }

    @include mq($break-small) {
      padding: 0.75rem 0.75rem;
      font-size: $font-body;
      line-height: $lh-body;
      letter-spacing: 0.03rem;
    }

    @include mq($break-medium) {
      padding: 1.25rem 1.75rem;
      font-size: 2.5rem;
      line-height: 3.5;
      letter-spacing: 0.06rem;
    }

    */
}

@media (min-width: 480px) {
  .banner {
    padding-top: 18rem;
    padding-bottom: 4rem;
    background-position: 50% 50%;
  }
}

@media (min-width: 880px) {
  .banner {
    padding-top: 30rem;
    padding-bottom: 7rem;
    margin-bottom: 7.5rem;
  }
}

.child-nav {
  display: none;
  position: absolute;
  bottom: 0;
  padding: 1.25rem 0 1.25rem 3rem;
  background: #ffe68c;
}

@media (min-width: 880px) {
  .child-nav {
    display: flex;
  }
}

.child-nav .child-nav-item {
  margin-right: 3rem;
  font-family: 'helvetica neue';
  font-size: 21px;
  letter-spacing: 0.02rem;
  color: #27282C;
  text-decoration: none;
}

.child-nav .is-active a {
  font-weight: 700;
  text-decoration: underline;
}

/* text
----------------------------------------------------------------------------- */
.text-block {
  padding: 0 2rem;
  margin: 6rem 0 0 0;
}

@media (min-width: 1120px) {
  .text-block {
    width: 900px;
    padding: 0;
    margin: 0 10rem 7.5rem;
  }
}

.text-block p {
  margin: 1rem 0;
  font-family: 'helvetica neue';
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.03rem;
}

@media (min-width: 880px) {
  .text-block p {
    font-family: 'helvetica now regular';
    letter-spacing: 0.015rem;
  }
}

.text-block p:first-of-type {
  margin-bottom: 6rem;
  font-family: 'helvetica now medium';
  font-size: 28px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.105rem;
}

@media (min-width: 480px) {
  .text-block p:first-of-type {
    font-size: 2.5rem;
    letter-spacing: 0.15rem;
  }
}

@media (min-width: 880px) {
  .text-block p:first-of-type {
    letter-spacing: 0.075rem;
  }
}

.text-block ul {
  margin: 6rem 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.text-block li {
  position: relative;
  width: 75%;
  margin: 2.5rem 2rem 2.5rem 6rem;
  font-family: 'helvetica neue';
  font-size: 21px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.09rem;
}

@media (min-width: 1120px) {
  .text-block li {
    width: 35%;
    font-size: 1.5rem;
  }
}

.text-block li:before {
  position: absolute;
  top: -21px;
  left: -100px;
  content: '';
  width: 5rem;
  height: 5rem;
  background-image: url("/wp-content/themes/cornwall-advocacy/icons/Icon_Check.svg");
  background-repeat: no-repeat;
}

@media (min-width: 880px) {
  .text-block li:before {
    top: -30px;
  }
}

.text-basic {
  padding: 0 2rem;
  margin-top: 3rem;
}

@media (min-width: 880px) {
  .text-basic {
    width: 83.25%;
  }
}

@media (min-width: 1120px) {
  .text-basic {
    padding: 0 10rem;
  }
}

.text-basic .section-title {
  margin-bottom: 4.5rem;
  font-family: 'helvetica neue';
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.12rem;
}

.text-basic .section-title:after {
  content: '';
  width: 3rem;
  height: 10px;
  margin-top: 1rem;
  display: block;
  background: #ffdb5a;
}

@media (min-width: 480px) {
  .text-basic .section-title {
    font-size: 2.5rem;
    line-height: 1.6;
    letter-spacing: 0.15rem;
  }
}

@media (min-width: 880px) {
  .text-basic .section-title {
    font-family: 'helvetica now bold';
    font-size: 3rem;
    line-height: 1.4;
    letter-spacing: 0.09rem;
  }
}

.text-basic p {
  margin-bottom: 4rem;
  font-family: 'helvetica neue';
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.03rem;
}

@media (min-width: 880px) {
  .text-basic p {
    font-family: 'helvetica now regular';
    letter-spacing: 0.015rem;
  }
}

.text-basic p:first-of-type {
  font-family: 'helvetica now medium';
  font-size: 28px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.105rem;
}

@media (min-width: 480px) {
  .text-basic p:first-of-type {
    font-size: 2.5rem;
    letter-spacing: 0.15rem;
  }
}

@media (min-width: 880px) {
  .text-basic p:first-of-type {
    letter-spacing: 0.075rem;
  }
}

/* image-text [features on standard pages what is advocacy & projects]
----------------------------------------------------------------------------- */
.image-text {
  padding: 6rem 2rem 0 2rem;
  border-bottom: 2px solid #c4c4c4;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1120px) {
  .image-text {
    padding: 6rem 10rem 0 10rem;
  }
}

.image-text:first-of-type {
  padding-top: 0rem;
}

.image-text:last-of-type {
  border-bottom: none;
}

.image-text .section-title {
  margin-bottom: 104px;
  font-family: 'helvetica neue';
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.09rem;
}

.image-text .section-title:after {
  content: '';
  width: 3rem;
  height: 10px;
  margin-top: 1rem;
  display: block;
  background: #ffdb5a;
}

@media (min-width: 480px) {
  .image-text .section-title {
    font-size: 21px;
    line-height: 1.6;
    letter-spacing: 0.15rem;
  }
}

@media (min-width: 880px) {
  .image-text .section-title {
    font-family: 'helvetica now bold';
    font-size: 3rem;
    line-height: 1.4;
    letter-spacing: 0.09rem;
  }
}

.image-text .columns {
  display: flex;
  flex-direction: column;
}

@media (min-width: 880px) {
  .image-text .columns {
    flex-direction: row;
  }
}

.image-text .lh-col,
.image-text .rh-col {
  width: 100%;
}

.image-text img {
  margin-bottom: 4rem;
}

@media (min-width: 880px) {
  .image-text .lh-col {
    margin-right: 6rem;
  }
  .image-text .rh-col {
    width: auto;
    margin-top: 4rem;
  }
  .image-text img {
    max-width: 390px;
    max-height: 390px;
    object-fit: cover;
    margin-bottom: 4rem;
  }
}

.image-text p {
  margin-bottom: 3rem;
  font-family: 'helvetica neue';
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.03rem;
}

@media (min-width: 880px) {
  .image-text p {
    font-family: 'helvetica now regular';
    letter-spacing: 0.015rem;
  }
}

.image-text p:first-of-type {
  margin-bottom: 4rem;
  font-family: 'helvetica now medium';
  font-size: 28px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.105rem;
}

@media (min-width: 480px) {
  .image-text p:first-of-type {
    font-size: 2.5rem;
    letter-spacing: 0.15rem;
  }
}

@media (min-width: 880px) {
  .image-text p:first-of-type {
    letter-spacing: 0.075rem;
  }
}

.image-text p:last-of-type {
  margin-bottom: 6rem;
}

.image-text .link {
  height: 4rem;
  padding: 0 2rem;
  border: 1px solid #27282C;
  margin-bottom: 7.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: 'helvetica neue';
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.47;
  letter-spacing: 0.02rem;
  text-decoration: none;
  color: #fff;
  background: #27282C;
  transition: ease-in 300ms;
}

@media (min-width: 880px) {
  .image-text .link {
    font-size: 1.313rem;
    line-height: 1.22;
  }
}

.image-text .link:hover {
  color: #27282C;
  background: #fff;
}

.image-text.grey {
  background: #f1f1f1;
}

/* text-image [features on landing pages, eg: about, how we help, background]
----------------------------------------------------------------------------- */
.text-image {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
}

@media (min-width: 880px) {
  .text-image {
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: 1120px) {
  .text-image {
    padding: 0 10rem 7.5rem;
  }
}

.text-image p,
.text-image image {
  width: 100%;
}

@media (min-width: 880px) {
  .text-image p {
    width: 65%;
    margin-right: 6rem;
  }
}

.text-image img {
  margin-bottom: 4rem;
}

@media (min-width: 880px) {
  .text-image img {
    width: 35%;
  }
}

.text-image p {
  margin-bottom: 4rem;
  font-family: 'helvetica now medium';
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.105rem;
}

@media (min-width: 480px) {
  .text-image p {
    font-size: 2.5rem;
    letter-spacing: 0.15rem;
  }
}

@media (min-width: 880px) {
  .text-image p {
    letter-spacing: 0.075rem;
  }
}

.text-image img {
  max-width: 390px;
  max-height: 390px;
  object-fit: cover;
}

/* image-links
----------------------------------------------------------------------------- */
.image-links {
  padding: 0 2rem;
}

@media (min-width: 1120px) {
  .image-links {
    padding: 0 10rem;
    margin-top: 7.5rem;
  }
}

.image-links .title,
.image-links .text,
.image-links .link {
  font-weight: 700;
}

.image-links .section-title {
  margin: 6rem 0;
  font-family: 'helvetica neue';
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.12rem;
}

@media (min-width: 480px) {
  .image-links .section-title {
    font-size: 2.5rem;
    line-height: 1.6;
    letter-spacing: 0.15rem;
  }
}

@media (min-width: 880px) {
  .image-links .section-title {
    font-family: 'helvetica now bold';
    font-size: 3rem;
    line-height: 1.4;
    letter-spacing: 0.09rem;
  }
}

.image-links .section-title:after {
  content: '';
  width: 3rem;
  height: 10px;
  margin-top: 1rem;
  display: block;
  background: #ffdb5a;
}

@media (min-width: 880px) {
  .image-links .grid {
    margin-bottom: 4rem;
  }
}

.image-links .text {
  margin: 3rem 0;
  font-family: 'helvetica now bold';
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.03rem;
}

@media (min-width: 880px) {
  .image-links .text {
    font-size: 1.75rem;
    line-height: 1.4;
    letter-spacing: 0.053rem;
  }
}

.image-links .link {
  height: 4rem;
  padding: 0 2rem;
  border: 1px solid #27282C;
  margin-bottom: 7.75rem;
  display: inline-flex;
  align-items: center;
  font-family: 'helvetica neue';
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.47;
  letter-spacing: 0.02rem;
  text-decoration: none;
  color: #fff;
  background: #27282C;
  transition: ease-in 300ms;
}

@media (min-width: 880px) {
  .image-links .link {
    font-size: 1.313rem;
    line-height: 1.22;
  }
}

.image-links .link:hover {
  color: #27282C;
  background: #fff;
}

/* organisations
----------------------------------------------------------------------------- */
.organisations {
  padding: 0 2rem;
}

@media (min-width: 880px) {
  .organisations {
    margin-top: 7.5rem;
  }
}

@media (min-width: 1120px) {
  .organisations {
    padding: 0 10rem;
  }
}

@media (min-width: 880px) {
  .organisations .grid {
    margin-bottom: 4rem;
  }
}

.organisations h3,
.organisations .link {
  font-weight: 700;
  color: red;
}

.organisations h3 {
  margin: 3rem 0;
  font-size: 1.5rem;
  font-weight: 700;
  color: #27282C;
}

@media (min-width: 880px) {
  .organisations h3 {
    font-size: 1.75rem;
  }
}

.organisations .description {
  margin: 3rem 0;
  font-family: 'helvetica now regular';
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.03rem;
}

.organisations .link {
  height: 4rem;
  padding: 0 2rem;
  border: 1px solid #27282C;
  margin-bottom: 7.75rem;
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.02rem;
  text-decoration: none;
  color: #fff;
  background: #27282C;
  transition: ease-in 300ms;
}

@media (min-width: 880px) {
  .organisations .link {
    font-size: 1.3125rem;
  }
}

.organisations .link:hover {
  color: #27282C;
  background: #fff;
}

/* testimonials
----------------------------------------------------------------------------- */
.testimonial {
  width: 100%;
  padding: 0 2.5rem;
  background: #27282C;
}

.testimonial .content {
  max-width: 80%;
  margin: 0 auto;
  padding: calc(5rem + 80px) 0 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (min-width: 1120px) {
  .testimonial .content {
    max-width: 860px;
  }
}

.testimonial blockquote {
  position: relative;
  margin-bottom: 1.5rem;
  font-family: 'helvetica neue';
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0.21rem;
  color: #fff;
}

@media (min-width: 560px) {
  .testimonial blockquote {
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
  }
}

@media (min-width: 880px) {
  .testimonial blockquote {
    letter-spacing: 0.15rem;
  }
}

.testimonial blockquote:before {
  position: absolute;
  left: 50%;
  top: -100px;
  content: '';
  display: block;
  width: 5rem;
  height: 5rem;
  background-image: url("/wp-content/themes/cornwall-advocacy/icons/Icon_Contact.svg");
  background-repeat: no-repeat;
  transform: translateX(-40px);
}

.testimonial .author {
  margin-bottom: 3rem;
  font-family: 'helvetica now medium';
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.1;
  letter-spacing: 0.045rem;
  color: #fff;
}

@media (min-width: 880px) {
  .testimonial .author {
    font-size: 1.5rem;
  }
}

.testimonial .link {
  height: 4rem;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'helvetica neue';
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.47;
  letter-spacing: 0.02rem;
  text-decoration: none;
  color: #27282C;
  background: #ffdb5a;
  transition: ease-in 300ms;
}

@media (min-width: 880px) {
  .testimonial .link {
    font-size: 1.313rem;
    line-height: 1.22;
    letter-spacing: 0.026rem;
  }
}

.testimonial .link:hover {
  background: #fff;
}

/* projects
----------------------------------------------------------------------------- */
.projects {
  padding: 0 2rem;
  margin: 6rem 0;
  background: #fff;
}

@media (min-width: 1120px) {
  .projects {
    padding: 0 10rem;
  }
}

.projects .project {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

@media (min-width: 880px) {
  .projects .project {
    flex-direction: row;
  }
}

.projects .project:last-of-type {
  margin-bottom: 6rem;
}

.projects .section-title {
  margin-bottom: 5rem;
  font-family: 'helvetica neue';
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.12rem;
}

.projects .section-title:after {
  content: '';
  width: 3rem;
  height: 10px;
  margin-top: 1rem;
  display: block;
  background: #ffdb5a;
}

@media (min-width: 480px) {
  .projects .section-title {
    font-size: 2.5rem;
    line-height: 1.6;
    letter-spacing: 0.15rem;
  }
}

@media (min-width: 880px) {
  .projects .section-title {
    font-family: 'helvetica now bold';
    font-size: 2rem;
    line-height: 1.4;
    letter-spacing: 0.06rem;
  }
}

.projects .content {
  display: flex;
}

.projects .name,
.projects .text,
.projects .link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects .image {
  max-width: 9rem;
  margin: 0 0 1rem 0;
  align-self: center;
}

@media (min-width: 880px) {
  .projects .image {
    margin: 0 6rem 1rem 0;
  }
}

.projects .text {
  width: 100%;
  font-family: 'helvetica neue';
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.03rem;
  color: #27282C;
}

@media (min-width: 880px) {
  .projects .text {
    width: 75%;
    font-family: 'helvetica now regular';
    letter-spacing: 0.015rem;
  }
}

.projects .link {
  height: 4rem;
  padding: 0 2rem;
  border: 1px solid #27282C;
  display: inline-flex;
  font-family: 'helvetica neue';
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.47;
  letter-spacing: 0.02rem;
  text-decoration: none;
  color: #fff;
  background: #27282C;
  transition: ease-in 300ms;
}

@media (min-width: 880px) {
  .projects .link {
    font-size: 1.313rem;
    line-height: 1.22;
  }
}

.projects .link:hover {
  color: #27282C;
  background: #fff;
}

/* team
----------------------------------------------------------------------------- */
.team {
  padding: 0 2rem;
  margin: 4rem 0 7.5rem 0;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1120px) {
  .team {
    padding: 0 10rem;
  }
}

.team .section-title {
  margin-bottom: 5rem;
  font-family: 'helvetica neue';
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.12rem;
  color: #27282C;
}

.team .section-title:after {
  content: '';
  width: 3rem;
  height: 10px;
  margin-top: 1rem;
  display: block;
  background: #ffdb5a;
}

@media (min-width: 480px) {
  .team .section-title {
    font-size: 2.5rem;
    line-height: 1.6;
    letter-spacing: 0.15rem;
  }
}

@media (min-width: 880px) {
  .team .section-title {
    font-family: 'helvetica now bold';
    font-size: 3rem;
    line-height: 1.4;
    letter-spacing: 0.09rem;
  }
}

.team .text {
  width: 80%;
  margin-bottom: 4rem;
  font-family: 'helvetica now medium';
  font-size: 28px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.21rem;
}

@media (min-width: 480px) {
  .team .text {
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
  }
}

@media (min-width: 880px) {
  .team .text {
    letter-spacing: 0.15rem;
  }
}

.team .profile {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
}

@media (min-width: 880px) {
  .team .profile {
    flex-direction: row;
  }
}

.team .profile:last-of-type {
  margin-bottom: 0;
}

.team .profile img {
  margin-bottom: 4rem;
  max-width: 390px;
  max-height: 390px;
  object-fit: cover;
}

@media (min-width: 880px) {
  .team .profile img {
    width: 35%;
    margin-right: 6rem;
  }
}

.team .profile .details {
  width: 100%;
  padding: 1.5rem;
  border: 1px solid #c4c4c4;
}

@media (min-width: 880px) {
  .team .profile .details {
    width: 65%;
    padding: 4rem;
  }
}

.team .profile h3 {
  margin-bottom: 30px;
  font-family: 'helvetica now bold';
  font-size: 1.313rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.03rem;
}

@media (min-width: 880px) {
  .team .profile h3 {
    font-size: 2rem;
    letter-spacing: 0.06rem;
  }
}

.team .profile .job-title {
  margin-bottom: 3rem;
  font-family: 'helvetica now medium';
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03rem;
}

@media (min-width: 880px) {
  .team .profile .job-title {
    letter-spacing: 0.045rem;
  }
}

.team .profile .bio {
  font-family: 'helvetica neue';
  font-size: 1.5rem;
  line-height: 2;
  letter-spacing: 0.01rem;
}

@media (min-width: 880px) {
  .team .profile .bio {
    font-family: 'helvetica now regular';
    letter-spacing: 0.015rem;
  }
}

/* supporters
----------------------------------------------------------------------------- */
.supporters {
  padding: 0 2rem;
  margin: 6rem 0;
}

@media (min-width: 1120px) {
  .supporters {
    padding: 0 10rem;
  }
}

.supporters .title {
  margin-bottom: 104px;
  font-family: 'helvetica neue';
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.09rem;
}

.supporters .title:after {
  content: '';
  width: 3rem;
  height: 10px;
  margin-top: 1rem;
  display: block;
  background: #ffdb5a;
}

@media (min-width: 480px) {
  .supporters .title {
    font-size: 2.5rem;
    line-height: 1.6;
    letter-spacing: 0.15rem;
  }
}

@media (min-width: 880px) {
  .supporters .title {
    font-family: 'helvetica now bold';
    font-size: 3rem;
    line-height: 1.4;
    letter-spacing: 0.09rem;
  }
}

.supporters p {
  margin: 3rem 0;
  font-family: 'helvetica neue';
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.03rem;
}

@media (min-width: 880px) {
  .supporters p {
    font-family: 'helvetica now regular';
    letter-spacing: 0.015rem;
  }
}

@media (min-width: 1120px) {
  .supporters p {
    max-width: 80%;
  }
}

.supporters .image {
  width: 100%;
  margin-bottom: 3rem;
}

@media (min-width: 480px) {
  .supporters .image {
    width: calc(50% - 48px);
    margin-left: 96px;
  }
  .supporters .image:nth-of-type(2n+1) {
    margin-left: 0;
  }
}

@media (min-width: 1120px) {
  .supporters .image {
    width: calc(25% - 72px);
  }
  .supporters .image:nth-of-type(2n+1) {
    margin-left: 96px;
  }
  .supporters .image:nth-of-type(4n+1) {
    margin-left: 0;
  }
}

/* next section block
----------------------------------------------------------------------------- */
.next-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 4rem 0;
  border-top: solid rgba(39, 40, 44, 0.2) 0.125rem;
}

@media (min-width: 880px) {
  .next-section {
    flex-direction: row;
  }
}

.next-section .section-title {
  padding-bottom: 2rem;
  font-family: 'helvetica neue';
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.12rem;
}

@media (min-width: 480px) {
  .next-section .section-title {
    font-size: 2.5rem;
    line-height: 1.6;
    letter-spacing: 0.15rem;
  }
}

@media (min-width: 880px) {
  .next-section .section-title {
    padding-bottom: 0;
    font-family: 'helvetica now medium';
    font-size: 2.5rem;
    line-height: 1.6;
    letter-spacing: 0.075rem;
  }
}

.next-section .link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  padding: 0 2rem;
  border: 1px solid #27282C;
  display: inline-flex;
  font-family: 'helvetica neue';
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.47;
  letter-spacing: 0.02rem;
  text-decoration: none;
  color: #fff;
  background: #27282C;
  transition: ease-in 300ms;
}

@media (min-width: 880px) {
  .next-section .link {
    margin-left: 4rem;
    font-size: 1.313rem;
    line-height: 1.22;
  }
}

.next-section .link:hover {
  color: #27282C;
  background: #fff;
}

/* contact
----------------------------------------------------------------------------- */
.contact {
  padding: 0 2rem;
}

@media (min-width: 1120px) {
  .contact {
    padding: 0 10rem 120px 10rem;
  }
}

.contact .contact-details,
.contact .contact-form {
  display: flex;
  flex-direction: column;
}

@media (min-width: 880px) {
  .contact .contact-details,
  .contact .contact-form {
    flex-direction: row;
  }
}

.contact .lh-col,
.contact .rh-col {
  width: 100%;
}

.contact img {
  margin-bottom: 4rem;
}

@media (min-width: 880px) {
  .contact .lh-col {
    width: 50%;
    margin-right: 6rem;
  }
  .contact .lh-col img {
    width: 100%;
    max-width: 390px;
    max-height: 390px;
    object-fit: cover;
  }
}

@media (min-width: 880px) {
  .contact .rh-col {
    margin-top: 4rem;
  }
}

.contact .icon-holder {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
}

.contact .icon-holder img.icon {
  margin-right: 2rem;
  margin-bottom: 0;
}

.contact .icon-holder p {
  margin-bottom: 0;
}

.contact .icon-holder a {
  text-decoration: none;
}

.contact h1.page-title {
  margin-bottom: 3rem;
  padding-left: 0;
  font-family: 'helvetica now bold';
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.15rem;
  color: #27282C;
}

.contact h1.page-title:after {
  content: '';
  width: 3rem;
  height: 10px;
  margin-top: 1rem;
  display: block;
  background: #ffdb5a;
}

@media (min-width: 560px) {
  .contact h1.page-title {
    font-size: 3.5rem;
    letter-spacing: 0.21rem;
  }
}

@media (min-width: 880px) {
  .contact h1.page-title {
    font-size: 4rem;
    letter-spacing: 0.12rem;
  }
}

.contact .section-title {
  margin-top: 96px;
  margin-bottom: 104px;
  font-family: 'helvetica now bold';
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.12rem;
}

.contact .section-title:after {
  content: '';
  width: 3rem;
  height: 10px;
  margin-top: 1rem;
  display: block;
  background: #ffdb5a;
}

@media (min-width: 480px) {
  .contact .section-title {
    font-size: 2.5rem;
    line-height: 1.6;
    letter-spacing: 0.15rem;
  }
}

@media (min-width: 880px) {
  .contact .section-title {
    font-size: 3rem;
    line-height: 1.4;
    letter-spacing: 0.18rem;
  }
}

.contact p {
  margin-bottom: 4rem;
  font-size: 21px;
  line-height: 2;
  letter-spacing: 0.026rem;
}

@media (min-width: 480px) {
  .contact p {
    font-size: 1.5rem;
    letter-spacing: 0.03rem;
  }
}

@media (min-width: 880px) {
  .contact p {
    font-family: 'helvetica neue';
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.015rem;
  }
}

.contact .link {
  font-family: 'helvetica now bold';
  font-size: 18px;
  font-weight: 700;
  line-height: 2.3333;
  letter-spacing: 0.068rem;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

@media (min-width: 880px) {
  .contact .link {
    font-family: 'helvetica neue';
    font-size: 21px;
    line-height: 1.875;
    letter-spacing: 0.09rem;
  }
}

.contact a {
  color: #27282C;
}

.contact .contact-form label {
  margin: 1rem 0;
  font-family: 'helvetica now bold';
  font-size: 18px !important;
  font-weight: 700;
  line-height: 1.4 !important;
  letter-spacing: 0.068rem;
  color: #27282C;
}

@media (min-width: 880px) {
  .contact .contact-form label {
    font-size: 28px !important;
    letter-spacing: 0.09rem;
  }
}

.contact .contact-form input,
.contact .contact-form textarea {
  display: flex;
  padding: 1.25rem 1rem !important;
  border: 1px solid rgba(39, 40, 44, 0.2);
}

@media (min-width: 880px) {
  .contact .contact-form input,
  .contact .contact-form textarea {
    padding: 1.25rem 2rem !important;
  }
}

.contact .contact-form input[type="submit"] {
  padding: 1.25rem 2rem;
  font-family: 'helvetica neue';
  font-size: 1.3125rem;
  font-weight: 700;
  line-height: 1.47 !important;
  letter-spacing: 0.02rem;
  color: #fff;
  background: #27282C;
}

@media (min-width: 880px) {
  .contact .contact-form input[type="submit"] {
    font-size: 1.313rem !important;
    letter-spacing: 0.026rem;
  }
}

.contact .contact-form ::placeholder {
  font-family: 'helvetica now regular' !important;
  font-size: 1rem;
  line-height: 1.4 !important;
  letter-spacing: 0.02rem !important;
  color: rgba(39, 40, 44, 0.6);
}

@media (min-width: 880px) {
  .contact .contact-form ::placeholder {
    font-size: 1.5rem !important;
  }
}

.contact div.ginput_container {
  margin-top: 0 !important;
}

/* request an advocate - top section (contact)
----------------------------------------------------------------------------- */
.request-contact {
  padding: 0 2rem;
}

@media (min-width: 880px) {
  .request-contact {
    padding: 0 10rem 120px 10rem;
  }
}

.request-contact .contact-details {
  display: flex;
  flex-direction: column;
}

@media (min-width: 880px) {
  .request-contact .contact-details {
    flex-direction: row;
  }
}

.request-contact .lh-col,
.request-contact .rh-col {
  width: 100%;
}

.request-contact img {
  margin-bottom: 4rem;
}

@media (min-width: 880px) {
  .request-contact .lh-col {
    width: auto;
    margin-right: 6rem;
  }
  .request-contact img {
    max-width: 390px;
    max-height: 390px;
    object-fit: cover;
  }
}

@media (min-width: 880px) {
  .request-contact .rh-col {
    margin-top: 4rem;
  }
}

.request-contact .icon-holder {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
}

.request-contact .icon-holder img.icon {
  margin-right: 2rem;
  margin-bottom: 0;
}

.request-contact .icon-holder p {
  margin-bottom: 0;
}

.request-contact h1.page-title {
  margin-bottom: 3rem;
  padding-left: 0;
  font-family: 'helvetica now bold';
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.15rem;
  color: #27282C;
}

.request-contact h1.page-title:after {
  content: '';
  width: 3rem;
  height: 10px;
  margin-top: 1rem;
  display: block;
  background: #ffdb5a;
}

@media (min-width: 480px) {
  .request-contact h1.page-title {
    font-size: 3.5rem;
    letter-spacing: 0.21rem;
  }
}

@media (min-width: 880px) {
  .request-contact h1.page-title {
    font-size: 4rem;
    letter-spacing: 0.12rem;
  }
}

.request-contact p {
  margin-bottom: 4rem;
  font-size: 1.3rem;
  line-height: 2;
  letter-spacing: 0.026rem;
}

@media (min-width: 480px) {
  .request-contact p {
    font-size: 1.5rem;
    letter-spacing: 0.03rem;
  }
}

@media (min-width: 880px) {
  .request-contact p {
    font-family: 'helvetica neue';
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.015rem;
  }
}

.request-contact .link {
  font-family: 'helvetica now bold';
  font-size: 18px;
  font-weight: 700;
  line-height: 2.3333;
  letter-spacing: 0.068rem;
}

@media (min-width: 880px) {
  .request-contact .link {
    font-family: 'helvetica neue';
    font-size: 1.5rem;
    line-height: 1.875;
    letter-spacing: 0.09rem;
  }
}

.request-contact a {
  color: #27282C;
}

/* request [styles for request an advocate form]
----------------------------------------------------------------------------- */
.request-advocate {
  padding: 0 2rem;
}

@media (min-width: 1120px) {
  .request-advocate {
    padding: 0 10rem 120px 10rem;
  }
}

.request-advocate .request-details,
.request-advocate .request-form {
  display: flex;
  flex-direction: column;
}

@media (min-width: 880px) {
  .request-advocate .request-details,
  .request-advocate .request-form {
    flex-direction: row;
  }
}

.request-advocate .lh-col,
.request-advocate .rh-col {
  width: 100%;
}

.request-advocate img {
  margin-bottom: 4rem;
}

@media (min-width: 880px) {
  .request-advocate .lh-col {
    width: 50%;
    margin-right: 6rem;
  }
  .request-advocate .lh-col img {
    width: 100%;
    max-width: 390px;
    max-height: 390px;
    object-fit: cover;
  }
}

@media (min-width: 880px) {
  .request-advocate .rh-col {
    margin-top: 4rem;
  }
}

.request-advocate .icon-holder {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
}

.request-advocate .icon-holder img.icon {
  margin-right: 2rem;
  margin-bottom: 0;
}

.request-advocate .icon-holder .link {
  font-size: 1.5rem;
  font-weight: 700;
  color: #27282C;
  display: block;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  text-decoration: none;
}

.request-advocate h1.page-title {
  margin-bottom: 3rem;
  padding-left: 0;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.06rem;
  color: #27282C;
}

.request-advocate h1.page-title:after {
  content: '';
  width: 3rem;
  height: 10px;
  margin-top: 1rem;
  display: block;
  background: #ffdb5a;
}

@media (min-width: 880px) {
  .request-advocate h1.page-title {
    font-size: 4rem;
    letter-spacing: 0.03rem;
  }
}

.request-advocate .section-title {
  margin-bottom: 104px;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.06rem;
}

.request-advocate .section-title:after {
  content: '';
  width: 3rem;
  height: 10px;
  margin-top: 1rem;
  display: block;
  background: #ffdb5a;
}

@media (min-width: 880px) {
  .request-advocate .section-title {
    font-size: 3rem;
    letter-spacing: 0.06rem;
  }
}

.request-advocate p {
  margin-bottom: 4rem;
  font-size: 1.5rem;
  line-height: 2;
}

.request-advocate .detail {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.06rem;
}

@media (min-width: 880px) {
  .request-advocate .detail {
    font-size: 1.5rem;
  }
}

.request-advocate a {
  color: #27282C;
}

.request-advocate .request-form label {
  margin: 1rem 0;
  font-size: 18px !important;
  font-weight: 400;
  letter-spacing: 0.06rem;
  color: #27282C;
}

@media (min-width: 880px) {
  .request-advocate .request-form label {
    font-size: 28px !important;
    letter-spacing: 0.03rem;
  }
}

.request-advocate .request-form input,
.request-advocate .request-form textarea {
  display: flex;
  padding: 1.25rem 1rem !important;
  border: 1px solid rgba(39, 40, 44, 0.2);
}

@media (min-width: 880px) {
  .request-advocate .request-form input,
  .request-advocate .request-form textarea {
    padding: 1.25rem 2rem !important;
  }
}

.request-advocate .request-form input[type="radio"] {
  margin-right: 3rem;
}

.request-advocate .request-form .gchoice_2_2_1 {
  margin-bottom: 3rem;
}

.request-advocate .request-form input[type="submit"] {
  padding: 1.25rem 2rem;
  border: 1px solid #27282C;
  font-size: 1.3125rem;
  font-weight: bold;
  color: #fff;
  background: #27282C;
  transition: ease-in 300ms;
}

.request-advocate .request-form input[type="submit"]:hover {
  color: #27282C;
  background: #fff;
}

.request-advocate .request-form ::placeholder {
  font-size: 1rem;
  letter-spacing: 0.2%;
  color: rgba(39, 40, 44, 0.6);
}

@media (min-width: 880px) {
  .request-advocate .request-form ::placeholder {
    font-size: 1.5rem;
  }
}

.request-advocate .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield input[type=radio] {
  width: 1.5rem !important;
  height: 1.5rem !important;
}

/* 404
----------------------------------------------------------------------------- */
.not-found {
  padding: 0 2rem;
}

.not-found h1 {
  font-size: 2.5rem;
}

.not-found h1:after {
  content: '';
  width: 3rem;
  height: 10px;
  margin-top: 1rem;
  display: block;
  background: #ffdb5a;
}

.not-found p {
  margin: 3rem 0 6rem 0;
  font-family: 'helvetica now regular';
  font-size: 1.5rem;
  line-height: 2;
}
