/* banner
----------------------------------------------------------------------------- */
.banner-home {
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}
