/* banner
----------------------------------------------------------------------------- */
/*
.banner-home {
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}
*/

.banner-home {
  position: relative;
  width: $full-width;
//  margin-top: 140px;
  color: $base;
  background-color: #FFE99C;

  @include mq($break-small) {
    display: flex;
  }

  @include mq($break-medium) {
    margin-bottom: 7.5rem;
  }

  .home-title-cont {
    width: $full-width;
    font-family: 'helvetica now bold';
    font-size: $font-body;
    font-weight: 800;
    line-height: 1.2;
    text-align: center;
    padding: 5rem 2rem 5rem 2rem;
    background-repeat: no-repeat;
    background-size: cover;

    @include mq($break-small) {
      padding: 10rem 2rem 10rem 2rem;
    }

    @include mq($break-medium) {
      width: 50%;
      font-size: 2rem;
      line-height: 5rem;
      text-align: left;
      padding: 11.1% 5% 11.1% 5%;
    }

    @include mq($break-large) {
      font-size: 2.5rem;
      line-height: 1.2;
      letter-spacing: 0.15rem;
      padding: 6.5% 11.1% 6.5% 11.1%;
    }

    .home-title {
      @include mq($break-small) {
        padding-bottom: $drop-large;
      }
    }
  }

  .banner-home-img {
    display: none;

    @include mq($break-medium) {
      display: block;
      width: 50%;
      object-fit: cover;
    }
  }

  .home-text-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: $brand;

    @include mq($break-small) {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
    }

    @include mq($break-medium) {
      margin-left: 10%;
      margin-right: 10%;
    }

    .home-text {
      font-family: 'helvetica now medium';
      font-size: $font-root;
      font-weight: 500;
      line-height: 1.2;
      letter-spacing: 0.045rem;
      padding-left: 0.75rem;
      padding-right: 0.75rem;

      @include mq($break-medium) {
        font-size: $font-body;
        line-height: 2.1;
      }
    }

    .icon-1 {
      min-width: 4rem;
      background-color: $base;

      @include mq($break-medium) {
        min-width: 6rem;
      }
    }

    .icon-2 {
      min-width: 4rem;
      background-color: $white;

      @include mq($break-medium) {
        min-width: 6rem;
      }
    }
  }
}
