/* image-text hb [features on standard pages what is advocacy & projects]
----------------------------------------------------------------------------- */
.image-text {
  padding: 6rem 2rem 0 2rem;
//  margin-top: 6rem;
  border-bottom: 2px solid $medium-grey;
  display: flex;
  flex-direction: column;

  @include mq($break-medium) {
    padding: 6rem 10rem 0 10rem;
  }

  &:first-of-type {
    padding-top: 0rem;
  }

  .section-title {
    margin-bottom: 104px;
    font-family: 'helvetica neue';
    font-size: $font-medium;
    font-weight: $font-bold;
    line-height: $lh-heading;
    letter-spacing: 0.09rem;

    &:after {
      @include underline-brand;
    }

    @include mq($break-small) {
      font-size: 2.5rem;
      line-height: 1.6;
      letter-spacing: 0.15rem;
    }

    @include mq($break-medium) {
      font-family: 'helvetica now bold';
      font-size: $font-large;
      line-height: 1.4;
      letter-spacing: 0.09rem;
    }
  }

  .columns {
    display: flex;
    flex-direction: column;

    @include mq($break-medium) {
      flex-direction: row;
    }
  }

  .lh-col,
  .rh-col {
    width: 100%;
  }

  img {
    margin-bottom: 4rem;
  }

  @include mq($break-medium) {
    .lh-col {
      margin-right: 6rem;
    }

    .rh-col {
     width: auto;
     margin-top: 4rem
    }

    img {
      max-width: 390px;
      max-height: 390px;
      object-fit: cover;
      margin-bottom: $drop-medium;
    }
  }

  p {
    margin-bottom: 3rem;
    font-family: 'helvetica neue';
    font-size: $font-body;
    font-weight: 400;
    line-height: $lh-body;
    letter-spacing: 0.03rem;

    @include mq($break-medium) {
      font-family: 'helvetica now regular';
      letter-spacing: 0.015rem;
    }
  }

  p:first-of-type {
    margin-bottom: $drop-medium;
    font-family: 'helvetica now medium';
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.105rem;

    @include mq($break-small) {
      font-size: 2.5rem;
      letter-spacing: 0.15rem;
    }

    @include mq($break-medium) {
      letter-spacing: 0.075rem;
    }
  }

  p:last-of-type {
    margin-bottom: $drop-large;
  }

  .link {
    height: 4rem;
    padding: 0 2rem;
    margin-bottom: 7.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'helvetica neue';
    font-size: $font-root;
    font-weight: $font-bold;
    line-height: 1.47;
    letter-spacing: 0.02rem;
    text-decoration: none;
    color: $white;
    background: $base;

    @include mq($break-medium) {
      font-size: 1.313rem;
      line-height: 1.22;
    }
  }

  &.grey {
    background: $brand-light-grey;
  }
} // close text-image
