/* image-links
----------------------------------------------------------------------------- */
.image-links {
  padding: 0 2.5rem;

  @include mq($break-medium) {
    padding: 0 10rem;
  }

  .title,
  .text,
  .link {
     font-weight: $font-bold;
  }

  .title {
    margin: 6rem 0;
    font-size: 3rem;

    &:after {
      content: '';
      width: 3rem;
      height: 10px;
      margin-top: 1rem;
      display: block;
      background: $brand;
    }
  }

  .text {
    margin: 3rem 0;
    font-size: 28px;
  }

  .link {
    height: 4rem;
    padding: 0 2rem;
    margin-bottom: 7.5rem;
    display: inline-flex;
    align-items: center;
    font-size: $font-root;
    color: $white;
    text-decoration: none;
    background: $base;

    @include mq($break-medium) {
      font-size: 21px;
    }
  }
}
