/* image-links hb
----------------------------------------------------------------------------- */
.image-links {
  padding: 0 2rem;

  @include mq($break-medium) {
    padding: 0 10rem;
    margin-top: 7.5rem;
  }

  .title,
  .text,
  .link {
     font-weight: $font-bold;
  }

  .section-title {
    margin: 6rem 0;
    font-family: 'helvetica neue';
    font-size: $font-medium;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0.12rem;

    @include mq($break-small) {
      font-size: 2.5rem;
      line-height: 1.6;
      letter-spacing: 0.15rem;
    }

    @include mq($break-medium) {
      font-family: 'helvetica now bold';
      font-size: $font-large;
      line-height: 1.4;
      letter-spacing: 0.09rem;
    }

    &:after {
      @include underline-brand;
    }
  }

  .grid {

    @include mq($break-medium) {
      margin-bottom: $drop-medium;
    }
  }

  .text {
    margin: 3rem 0;
    font-family: 'helvetica now bold';
    font-size: $font-body;
    font-weight: $font-bold;
    letter-spacing: 0.03rem;

     @include mq($break-medium) {
      font-size: 1.75rem;
      line-height: 1.4;
      letter-spacing: 0.053rem;
     }
  }

  .link {
    height: 4rem;
    padding: 0 2rem;
    margin-bottom: 7.75rem;
    display: inline-flex;
    align-items: center;
    font-family: 'helvetica now bold';
    font-size: $font-root;
    font-weight: $font-bold;
    line-height: 1.47;
    letter-spacing: 0.02rem;
    text-decoration: none;
    color: $white;

    background: $base;

    @include mq($break-medium) {
      font-size: 1.313rem;
      line-height: 1.22;
    }
  }
}
