/* next section block
----------------------------------------------------------------------------- */

.next-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 4rem 0;
  border-top: solid rgba(39, 40, 44, 0.2) 0.125rem;

  @include mq($break-medium) {
    flex-direction: row;
  }

  .section-title {
    padding-bottom: 2rem;
    font-family: 'helvetica neue';
    font-size: $font-medium;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.12rem;

    @include mq($break-small) {
      font-size: 2.5rem;
      line-height: 1.6;
      letter-spacing: 0.15rem;
    }

    @include mq($break-medium) {
      padding-bottom: 0;
      font-family: 'helvetica now medium';
      font-size: 2.5rem;
      line-height: 1.6;
      letter-spacing: 0.075rem;
    }
  }

  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    padding: 0 2rem;
    border: 1px solid $base;
    display: inline-flex;
    font-family: 'helvetica neue';
    font-size: $font-root;
    font-weight: $font-bold;
    line-height: 1.47;
    letter-spacing: 0.02rem;
    text-decoration: none;
    color: $white;
    background: $base;
    transition: ease-in 300ms;

    @include mq($break-medium) {
      margin-left: 4rem;
      font-size: 1.313rem;
      line-height: 1.22;
    }

    &:hover {
      color: $base;
      background: $white;
    }
  }
}
