/* organisations
----------------------------------------------------------------------------- */
.organisations {
  padding: 0 2rem;

  @include mq($break-medium) {
  //  padding: 0 10rem;
    margin-top: 7.5rem;
  }

  @include mq($break-large) {
    padding: 0 10rem;
  }

  .grid {
    @include mq($break-medium) {
      margin-bottom: $drop-medium;
    }
  }

  h3,
  .link {
     font-weight: $font-bold;
     color: red;
  }

  h3 {
    margin: 3rem 0;
    font-size: $font-body;
    font-weight: $font-bold;
    color: $base;

    @include mq($break-medium) {
     font-size: 1.75rem;
    }
  }

  .description {
    margin: 3rem 0;
    font-family: 'helvetica now regular';
    font-size: $font-body;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.03rem;

     // @include mq($break-medium) {
     //  font-size: 1.75rem;
     // }
  }

  .link {
    height: 4rem;
    padding: 0 2rem;
    border: 1px solid $base;
    margin-bottom: 7.75rem;
    display: inline-flex;
    align-items: center;
    font-size: $font-root;
    font-weight: $font-bold;
    letter-spacing: 0.02rem;
    text-decoration: none;
    color: $white;
    background: $base;
    transition: ease-in 300ms;

    @include mq($break-medium) {
      font-size: 1.3125rem;
    }

    &:hover {
      color: $base;
      background: $white;
    }
  }
}
