/* projects
----------------------------------------------------------------------------- */
.projects {
  padding: 6rem 2.5rem;
  background: $white;

  @include mq($break-medium) {
    padding: 6rem 10rem;
  }

  .project {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;

    @include mq($break-medium) {
      flex-direction: row;
    }

    &:last-of-type {
      margin-bottom: 6rem;
    }
  }

  h2 {
    margin-bottom: 6rem;
    font-size: 3rem;
    font-weight: $font-bold;

    &:after {
      content: '';
      width: 3rem;
      height: 10px;
      margin-top: 1rem;
      display: block;
      background: $brand;
    }
  }

 .content {
    display: flex;
  }

  .name,
  .text,
  .link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .name {
    width: 144px;
    height: 144px;
    border-radius: 50%;
    margin: 0 6rem 1rem 0;
    font-size: $font-body;
    color: white;
    background: $black;
  }

  .text {
    width: 100%;
    font-size: $font-body;
    line-height: $lh-body;
    letter-spacing: 0.02rem;
    color: $base;

    @include mq($break-medium) {
      width: 75%;
    }
  }

  .link {
    height: 4rem;
    padding: 0 2rem;
    display: inline-flex;
    font-size: 21px;
    font-weight: $font-bold;
    color: $white;
    text-decoration: none;
    background: $base;
  }
}
