/* supporters
----------------------------------------------------------------------------- */
.supporters {
  padding: 0 2rem;
  margin: 6rem 0;

  @include mq($break-large) {
    padding: 0 10rem;
  }

  .title {
    margin-bottom: 104px;
    font-family: 'helvetica neue';
    font-size: $font-medium;
    font-weight: $font-bold;
    line-height: $lh-heading;
    letter-spacing: 0.09rem;

    &:after {
      @include underline-brand;
    }

    @include mq($break-small) {
      font-size: 2.5rem;
      line-height: 1.6;
      letter-spacing: 0.15rem;
    }

    @include mq($break-medium) {
      font-family: 'helvetica now bold';
      font-size: $font-large;
      line-height: 1.4;
      letter-spacing: 0.09rem;
    }
  }


  p {
    margin: 3rem 0;
    font-family: 'helvetica neue';
    font-size: $font-body;
    font-weight: 400;
    line-height: $lh-body;
    letter-spacing: 0.03rem;

    @include mq($break-medium) {
      font-family: 'helvetica now regular';
      letter-spacing: 0.015rem;
    }

    @include mq($break-large) {
      max-width: 80%;
    }
  }

  .image {
    width: 100%;
    margin-bottom: 3rem;

    @include mq($break-small) {
      width: calc(50% - 48px);
      margin-left: 96px;

      &:nth-of-type(2n+1) {
        margin-left: 0;
      }
    }

    @include mq($break-large) {
      width: calc(25% - 72px);

      &:nth-of-type(2n+1) {
        margin-left: 96px;
      }

      &:nth-of-type(4n+1) {
        margin-left: 0;
      }
    }
  }
}
