/* team hb
----------------------------------------------------------------------------- */
.team {
 padding: 0 2rem;
 margin: 4rem 0 7.5rem 0;
 display: flex;
 flex-direction: column;

  @include mq($break-medium) {
    padding: 0 10rem;
  }

  .section-title {
    margin-bottom: 5rem;
    font-family: 'helvetica neue';
    font-size: $font-medium;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0.12rem;
    color: $base;

    &:after {
      @include underline-brand;
    }

    @include mq($break-small) {
      font-size: 2.5rem;
      line-height: 1.6;
      letter-spacing: 0.15rem;
    }

    @include mq($break-medium) {
      font-family: 'helvetica now bold';
      font-size: $font-large;
      line-height: $lh-heading;
      letter-spacing: 0.09rem;
    }
  }

  .text {
    width: 80%;
    margin-bottom: $drop-medium;
    font-family: 'helvetica now medium';
    font-size: 28px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.21rem;

    @include mq($break-small) {
      font-size: 2.5rem;
      letter-spacing: 0.3rem;
    }

    @include mq($break-medium) {
      letter-spacing: 0.15rem;
    }
  }

  .profile {
    margin-bottom: $drop-medium;
    display: flex;
    flex-direction: column;

    @include mq($break-medium) {
       flex-direction: row;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    img {
      margin-bottom: 4rem;
      max-width: 390px;
      max-height: 390px;
      object-fit: cover;

      @include mq($break-medium) {
        margin-right: 6rem;
      }
    }

    .details {
      padding: 1.5rem;
      border: 1px solid $medium-grey;

      @include mq($break-medium) {
        padding: 4rem;
      }
    }

    h3 {
      margin-bottom: 30px;
      font-family: 'helvetica now bold';
      font-size: 1.313rem;
      font-weight: $font-bold;
      line-height: 1.4;
      letter-spacing: 0.03rem;

      @include mq($break-medium) {
        font-size: $font-medium;
        letter-spacing: 0.06rem;
      }
    }

    .job-title {
      margin-bottom: 3rem;
      font-family: 'helvetica now medium';
      font-size: $font-body;
      font-weight: 500;
      line-height: 1.6;
      letter-spacing: 0.03rem;

      @include mq($break-medium) {
        letter-spacing: 0.045rem;
      }
    }

    .bio {
      font-family: 'helvetica neue';
      font-size: 1.5rem;
      line-height: 2;
      letter-spacing: 0.01rem;

      @include mq($break-medium) {
        font-family: 'helvetica now regular';
        letter-spacing: 0.015rem;
      }
    }
  }
}
