/* team
----------------------------------------------------------------------------- */
.team {
 padding: 0 2.5rem;
 margin: 7.5rem 0;
 display: flex;
 flex-direction: column;

  @include mq($break-medium) {
    padding: 0 10rem;
  }

  .section-title {
    margin-bottom: 5rem;
    font-size: $font-large;
    font-weight: 800;
    letter-spacing: 0.03rem;
    color: $base;

    &:after {
      @include underline-brand;
    }
  }

  .text {
    width: 80%;
    margin-bottom: $drop-medium;
    font-size: 2.5rem;
    line-height: 1.6;
    letter-spacing: 0.06rem;
  }

  .profile {
    margin-bottom: $drop-medium;
    display: flex;

    &:last-of-type {
      margin-bottom: 0;
    }

    img {
      margin-right: 6rem;
      max-width: 390px;
      max-height: 390px;
      object-fit: cover;
    }

    .details {
      padding: 4rem;
      border: 1px solid $medium-grey;
    }

    h3 {
      margin-bottom: 30px;
      font-size: $font-medium;
      font-weight: 800;
      letter-spacing: 0.03rem;
    }

    .job-title {
      margin-bottom: 3rem;
      font-size: $font-body;
      font-weight: 500;
      letter-spacing: 0.03rem;
    }

    .bio {
      font-size: 1.5rem;
      line-height: 2;
      letter-spacing: 0.01rem;
    }
  }
}
