/* team
----------------------------------------------------------------------------- */
.team {
 padding: 3rem 2.5rem;
 display: flex;
 flex-direction: column;

  @include mq($break-medium) {
    padding: 3rem 10rem;
  }

  .section-title {
    font-size: 2.5rem;
    color: $base;

    &:after {
      @include underline-brand;
    }
  }
}
