/* testimonials
----------------------------------------------------------------------------- */
.testimonials {
  width: $full-width;
  padding: 0 2.5rem;
  background: $base;

  .content {
    padding: calc(5rem + 80px) 0 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include mq($break-medium) {
      max-width: 860px;
      margin: 0 auto;
    }
  }

  blockquote {
    position: relative;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    font-weight: $font-bold;
    line-height: 1.5;
    color: $white;

    &:before {
      position: absolute;
      left: 50%;
      top: -100px;
      content: '';
      display: block;
      width: 80px;
      height: 80px;
      border-radius: 50px;
      background: $white;
      transform: translateX(-40px);
    }
  }

  .author {
    margin-bottom: 3rem;
    font-size: $font-body;
    color: $white;
  }

  .link {
    height: 4rem;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-body;
    font-weight: $font-bold;
    text-decoration: none;
    color: $base;
    background: $brand;
  }
}
