/* testimonials
----------------------------------------------------------------------------- */
.testimonials {
  width: $full-width;
  padding: 0 2.5rem;
  background: $brand-fade;

  .content {
    padding: 168px 0 124px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include mq($break-medium) {
      max-width: 860px;
      margin: 0 auto;
    }
  }

  blockquote {
    position: relative;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    font-weight: $font-bold;
    line-height: 1.5;

    &:before {
      position: absolute;
      left: 50%;
      top: -100px;
      content: '';
      display: block;
      width: 79px;
      height: 71px;
      border-radius: 50px;
      background: $white;
      transform: translateX(-35px);
    }
  }

  .source {
    font-size: 1.5rem;
  }
}
