/* text-mage [features on landing pages, eg: about, how we help, background]
----------------------------------------------------------------------------- */
.text-image {
 padding: 3rem 2.5rem;
 display: flex;
 flex-direction: column;

  @include mq($break-medium) {
    padding: 3rem 10rem;
    flex-direction: row;
  }

  p,
  image {
    width: 100%;

    @include mq($break-medium) {
      width: 50%;
    }
  }

  p {
    font-size: 2.5rem;
  }

  img {
    max-width: 390px;
    max-height: 390px;
    margin-left: 96px;
    object-fit: cover;
  }
}
