/* text-image [features on landing pages, eg: about, how we help, background]
----------------------------------------------------------------------------- */
.text-image {
 padding: 0 2rem;
 display: flex;
 flex-direction: column;

  @include mq($break-medium) {
//  margin-bottom: 7.5rem;
//  padding: 0 10rem 7.5rem;
    flex-direction: row;
    align-items: center;
  }

  @include mq($break-large) {
    padding: 0 10rem 7.5rem;
  }

  p,
  image {
    width: 100%;
  }

  p {
    @include mq($break-medium) {
      width: 65%;
      margin-right: 6rem;
    }
  }

  img {
    margin-bottom: 4rem;

    @include mq($break-medium) {
      width: 35%;
    }
  }

  p {
    margin-bottom: 4rem;
    font-family: 'helvetica now medium';
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.105rem;

    &:last-of-type {
    //   margin-bottom: 0;
    }

    @include mq($break-small) {
      font-size: 2.5rem;
      letter-spacing: 0.15rem;
    }

    @include mq($break-medium) {
      letter-spacing: 0.075rem;
    }
  }

  img {
    max-width: 390px;
    max-height: 390px;
    object-fit: cover;
  }
}
