<footer role="contentinfo">
  <div class="organisation-info">
    <p>© Cornwall Advocacy {{ now|date('Y') }}</p>
    <p>Registered Charity No: {{ options.charity }}</p>
  </div>
  <ul class="footer-nav">
    {% for item in details.items %}
      <li class="nav-item">
        <a class="nav-link" href="{{ item.link }}">{{ item.title }}</a>
      </li>
    {% endfor %}
  </ul>
</footer>
