<header role="banner">
  <a href="/" class="logo">
    <span class="line-one">Cornwall</span>
    <span class="line-two">Advocacy</span>
  </a>
  <button class="menu">Menu</button>
  <nav class="primary-nav" role="navigation">
    <ul class="nav-pages">
      {% for nav_item in primary_nav_pages.items %}
        <li class="nav-item">
          <a class="nav-link" href="{{ nav_item.link }}">{{ nav_item.title }}</a>
        </li>
      {% endfor %}
    </ul>
    <ul class="nav-cta">
      {% for nav_item in primary_nav_cta.items %}
        <li class="nav-item">
          <a class="nav-link" href="{{ nav_item.link }}">{{ nav_item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>
