/* mixins
----------------------------------------------------------------------------- */
// Font stack
@mixin stack {
  font-family: 'helvetica now regular', 'helvetica-neue', helvetica, arial, sans-serif;
}

// Underline graphic device beneath titles
@mixin underline-brand {
  content: '';
  width: 3rem;
  height: 10px;
  margin-top: 1rem;
  display: block;
  background: $brand;
}

// Media queries
@mixin mq( $query ) {
	@media ( min-width: $query ) {
		@content
	}
}
