/* variables
----------------------------------------------------------------------------- */
// colours
$white: #fff;
$black: #000;

$brand: #ffdb5a;
$base: #27282C;
$grey: #fafafa;

// fonts
$primary: helvetica;
$root: 1rem;

// measures
$site-width: 1440px;
$inner: 1200px;
$full-width: 100%;

$wrap-small: 5%;
$wrap-desktop: 11.1%;

$insulate: 1rem;

$drop-small: .5rem;
$drop-medium: 3rem;
$drop-large: 6rem;

// media queries
$small: 320px;
$phone: 600px;
$tablet: 768px;
$laptop: 1074px;
$desktop: 1200px;
