/* accordian
----------------------------------------------------------------------------- */
.accordian {
  width: 100%;
  padding: 0 2.5rem;

  @include mq($break-medium) {
    width: 83.25%;
    padding: 0 10rem 120px 10rem;
  //  margin-top: 6rem;
  }

  .section-title {
    margin-bottom: 5rem;
    font-size: $font-large;

    &:after {
      @include underline-brand;
    }
  }

  .text {
    margin-bottom: 4rem;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.03rem;
  }

  .accordian-item {
    margin-bottom: 2.5rem;
    font-size: $font-body;
    font-weight: 500;
    line-height: $lh-body;
    letter-spacing: 0.03rem;
  }

  .item-title {
    padding: 1.5rem 3rem;
    border: 1px solid rgba(39, 40, 44, .2);
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .item-content {
    height: 0;
    padding: 0 3rem;
    border: 1px solid rgba(39, 40, 44, .2);
//  border-top: none;
    overflow: hidden;
    transition: 300ms;

    &.accordian-open {
      height: 100%;
      padding: 3rem;
    }
  }
}
