/* grids
----------------------------------------------------------------------------- */
.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  width: 100%;

  @include mq($break-medium) {
    width: calc(50% - 48px);
    margin-left: 6rem;
  }
}

.grid-item:nth-of-type(2n-1) {
  margin-left: 0;
}
