<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ site.name }}</title>

		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">

		{{ function('wp_head') }}
	</head>

	<body class="{{ body_class }}">
		<div id="site-wrapper">
			{% include 'partials/header.twig' %}

      {% if fn('is_front_page') %}
        {% include 'page-sections/banner-home.twig' %}
      {% else %}
        {% include 'page-sections/banner.twig' %}
      {% endif %}

      <main role="main">
        {% block content %}
				{% endblock %}
			</main>

			{% include 'partials/footer.twig' %}
		</div><!-- close site-wrapper -->

		{{ function('wp_footer') }}
	</body>
</html>
