{% extends 'base.twig' %}
{% block content %}

<div class="breadcrumbs">
  {{ fn('yoast_breadcrumb', false) }}
</div>

<div class="request-advocate">

  <h1 class="page-title">{{ post.title }}</h1>

  <!-- image -->
  <div class="request-form">
    <div class="lh-col">
       <img src="{{ post.meta('request_form').image }}">
    </div>

    <!-- form -->
    <div class="rh-col">
      {{ forms.request }}
    </div>
  </div>


</div><!-- close request -->

{% endblock %}
