/* typography
----------------------------------------------------------------------------- */
// position and style h1 on standard and landing pages
.page-title {
  padding: 0 2.5rem;
  margin-bottom: 5rem;
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: 0.03rem;
  color: $base;

  &:after {
    @include underline-brand;
  }

  @include mq($break-medium) {
    padding: 0 10rem;
  }
}
