/* typography hb
----------------------------------------------------------------------------- */
// position and style h1 on standard and landing pages
.page-title {
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 5rem;
  font-family: 'helvetica neue';
  font-size: 2.5rem;
  font-weight: 700;
  line-height: $lh-heading;
  letter-spacing: 0.15rem;
  color: $base;

  &:after {
    @include underline-brand;
  }

  @include mq($break-small) {
    font-size: 3.5rem;
    letter-spacing: 0.21rem;
  }

  @include mq($break-medium) {
    padding: 0 10rem;
    font-family: 'helvetica now bold';
    font-size: 4rem;
    letter-spacing: 0.12rem;
  }
}
