/* fonts:
----------------------------------------------------------------------------- */
@font-face {
  font-family: 'helvetica now medium';
  src: url('../fonts/HelveticaNowText-Medium/font.woff2') format('woff2'),
  url('../fonts/HelveticaNowText-Medium/font.woff') format('woff');
}
@font-face {
  font-family: 'helvetica now regular';
  src: url('../fonts/HelveticaNowText-Regular/font.woff2') format('woff2'),
  url('../fonts/HelveticaNowText-Regular/font.woff') format('woff');
}
@font-face {
  font-family: 'helvetica now bold';
  src: url('../fonts/HelveticaNowText-ExtraBold/font.woff2') format('woff2'),
  url('../fonts/HelveticaNowText-ExtraBold/font.woff') format('woff');
}
