/* helpers
----------------------------------------------------------------------------- */
.btn {
  border: 1px solid $base;
  padding: .25rem 1rem;
  background: transparent;
  transition: 300ms;
}
