/* footer
----------------------------------------------------------------------------- */
.footer-statement {
  padding: 3rem 2.5rem 3rem;
  border-top: 2.5rem solid $brand-fade;
  background: $brand;

  @include mq($break-large) {
    padding: 5rem 7.5rem 3rem;
  }

  .logo {
    width: 215px;
    margin-bottom: 2.5rem;
    display: inline-block;
    text-decoration: none;

    .line-one,
    .line-two {
      display: block;
      padding: .375rem 0;
      font-size: $font-body;
      font-weight: $font-bold;
      text-align: center;
      letter-spacing: 0.05rem;
    }

    .line-one {
      color: $base;
      background: $white;
    }

    .line-two {
      color: $white;
      background: $base;
    }
  }

  .content {
    display: flex;
    flex-direction: column;

    @include mq(960px) {
      flex-direction: row;
    }
  }

  .left-col,
  .right-col {
    width: 100%;
    margin-bottom: 1.5rem;

    @include mq($break-medium) {
      margin-bottom: 2.5rem;
    }
  }

  .left-col {
    .text {
      margin: 1rem 0 4rem 0;
      font-family: 'helvetica now medium';
      font-size: $font-body;
      font-weight: $font-light-bold;
      line-height: 1.6;
      letter-spacing: 0.09rem;

      @include mq($break-medium) {
        font-size: $font-medium;
        letter-spacing: 0.06rem;
      }
    }

    .link {
      height: 4rem;
      padding: 0 2rem;
      border: 1px solid $base;
      margin-bottom: 7.5rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-family: 'helvetica neue';
      font-size: $font-root;
      font-weight: $font-bold;
      line-height: 1.47;
      letter-spacing: 0.02rem;
      text-decoration: none;
      color: $white;
      background: $base;
      transition: ease-in 300ms;

      @include mq($break-medium) {
        font-size: 1.313rem;
        line-height: 1.22;
      }

      &:hover {
        color: $base;
        background: $white;
      }
    }
  }

  .right-col {
    @include mq(960px) {
     padding-left: 11%;
    }

    @include mq($break-large) {
    //  padding-left: 8.75rem;
    }

    .link {
      display: block;
      margin-bottom: 2.5rem;
      font-family: 'helvetica now bold';
      font-size: 1.125rem;
      font-weight: $font-bold;
      line-height: $lh-body;
      letter-spacing: 0.068rem;
      text-decoration: none;
      color: $base;

      @include mq($break-medium) {
        margin-bottom: 3.5rem;
        font-family: 'helvetica neue';
        font-size: 1.125rem;
        line-height: 1.875;
        letter-spacing: 0.09rem;
      }

      @include mq($break-large) {
        font-size: $font-body;
      }
    }

    .link:hover {
      text-decoration: underline;
    }

    .link-contact:before,
    .link-facebook:before {
      content: '';
      width: 5rem;
      height: 5rem;
      margin-right: 1.5rem;
      margin-bottom: 2.5rem;
      display: block;

      @include mq(460px) { // was $break-medium
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
      }
    }

    .link-contact:before {
      background-image: url('/wp-content/themes/cornwall-advocacy/icons/Icon_Contact.svg');
    }

    .link-facebook:before {
      background-image: url('/wp-content/themes/cornwall-advocacy/icons/Icon_Facebook.svg');
    }
  } // close right col
} // close footer-statement


.footer-details {
  padding: 1.625rem 2.5rem;
  border-bottom: 1rem solid $base;
  display: flex;
  flex-direction: column;
  font-family: 'helvetica neue';
  font-size: $font-root;
  font-weight: $font-bold;
  line-height: $lh-body;
  letter-spacing: 0.02rem;
  color: $base;

  @include mq($break-large) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'helvetica now medium';
    font-weight: $font-light-bold;
    line-height: 1.47;
  }

  @include mq($break-large) {
    padding: 1.625rem 7.5rem;
  }

  .organisation-info {
    margin-bottom: 2rem;

    @include mq($break-medium) {
      margin-bottom: 0;
      display: flex;
    }
  }

  p,
  .nav-item {
    margin-right: 1.75rem;

    &:last-child {
      margin-right: 0;
    }
  }

 .footer-nav {
    .nav-link {
      font-weight: $font-bold;
      text-decoration: none;
      color: $base;

      @include mq($break-medium) {
        font-weight: $font-light-bold;
      }
    }

    .nav-link:hover {
      text-decoration: underline;
    }

    @include mq($break-medium) {
      display: flex;
    }
  }
} // close footer details
