/* footer
----------------------------------------------------------------------------- */
footer {
  padding: 1.625rem 2.5rem;
  border-bottom: .5rem solid $base;
  display: flex;
  flex-direction: column;
  font-size: $font-root;
  font-weight: $font-bold;
  letter-spacing: 0.02rem;
  line-height: $lh-body;
  color: $base;

  @include mq($break-medium) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @include mq($break-large) {
    padding: 1.625rem 7.5rem;
  }

  .organisation-info {
    margin-bottom: 2rem;

    @include mq($break-medium) {
      margin-bottom: 0;
      display: flex;
    }
  }

  p,
  .nav-item {
    margin-right: 1.75rem;

    &:last-child {
      margin-right: 0;
    }
  }

 .footer-nav {
    .nav-link {
      color: $base;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    @include mq($break-medium) {
      display: flex;
    }
  }
} // close footer
