/* header
----------------------------------------------------------------------------- */
header {
  position: fixed;
  top: 0;
  width: $full-width;
  border-bottom: .5rem solid $brand;
  display: flex;
  flex-direction: column;
  background: $white;
  z-index: 2;

  @include mq($break-medium) {
    height: 140px;
    transition: height 0.5s;
    padding: 0 5%;
    flex-direction: row;
    justify-content: space-between;
  }

  @include mq($break-large) {
    padding: 0 7.5rem;
  }

  /* logo  */
  .logo {
    width: 130px;
    margin: 1.75rem 0 1.75rem 2rem;
    transition: margin 0.5s;
    text-decoration: none;
    transition-delay: 0.2s;

    @include mq($break-medium) {
      width: 150px;
      margin: 38px 4rem 0 0;
      transition: margin 0.5s;
      align-self: flex-start;
      transition-delay: 0.2s;
    }

    @include mq($break-large) {
      width: 170px;
      transition-delay: 0.2s;
    }

    @include mq($break-vbig) {
      width: 150px;
      transition-delay: 0.2s;
    }
  }

  .line-one,
  .line-two {
    display: block;
    @include stack;
    font-size: $font-body;
    font-weight: $font-bold;
    text-align: center;
    letter-spacing: 0.05rem;
  }

  .line-one {
    color: $base;
    background: $brand;
  }

  .line-two {
    color: $white;
    background: $base;
  }

  // menu button
  .menu {
    width: 4.75rem;
    height: 3rem;
    padding: .25rem 1rem;
    position: absolute;
    right: 2rem;
    top: 2rem;
    color: $white;
    font-weight: bold;
    background: $base;
    transition: 300ms;

    @include mq($break-medium) {
      display: none;
    }
  }

  nav {
    height: 0;
    overflow: hidden;
    background: $brand-fade;
    transition: 300ms;

    &.nav-open {
      height: calc(650px + 2.5rem);
    }

    @include mq($break-medium) {
      height: auto;
      padding-top: 0;
      margin-top: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      background: $white;
    }

    @include mq($break-big) {
      flex-direction: row;
      align-items: center;
    }

    .nav-pages {
      padding: 2.5rem;

      @include mq($break-medium) {
        min-width: 615px;
        padding: 0;
        margin-bottom: 1.5rem;
        transition: margin-bottom 0.5s;
        display: flex;
        flex-direction: column;
        flex-direction: row;
        justify-content: space-between;
        order: 2;
        background: $white;
      }

     @include mq($break-big) {
        margin: 0 2rem 0 0;
        transition: margin 0.5s;
        order: 1;
      }

      .nav-link {
        font-size: 1.65rem;
        transition: font-size 0.5s;
        font-weight: $font-bold;
        line-height: 2;
        letter-spacing: 0.02rem;
        text-decoration: none;
        color: $base;

        @include mq($break-small) {
          font-size: $font-medium;
          transition: font-size 0.5s;
        }

        @include mq($break-medium) {
          font-size: $font-root;
          transition: font-size 0.5s;
          line-height: 0;
        }
      }
    }

    .nav-cta {
      margin: 2.5rem 2rem;
      transition: margin 0.5s;

      @include mq($break-medium) {
        margin: 1.5rem 0;
        transition: margin 0.5s;
        display: flex;
        flex-direction: column;
        flex-direction: row;
        order: 1;
      }

      @include mq($break-big) {
        order: 2;
      }

      .nav-link {
        font-size: $font-root;
        transition: font-size 0.5s;
        font-weight: $font-bold;
        letter-spacing: 0.02rem;
        transition: letter-spacing 0.5s;
        color: $base;
        text-decoration: none;
      }

      .nav-item {
        height: 3rem;
        padding: 0 .75rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .nav-item:first-of-type {
        margin-bottom: 1rem;
        background: $white;

        @include mq($break-medium) {
          background: $brand;
          margin-bottom: 0;
          margin-right: 1rem;
        }
      }

      .nav-item:last-of-type{
        background: $base;

        .nav-link {
          color: $white;
        }
      }
    }

  }
} // close header


/* header scrolled
----------------------------------------------------------------------------- */
.nav-scrolled {

  @include mq($break-medium) {
    height: 93.33px;
  }

  /* logo  */
  .logo {
    width: 86.66px;
    margin: 1.16rem 0 1.16rem 1.33rem;

    @include mq($break-medium) {
      width: 100px;
      margin: 25.33px 2.66rem 0 0;
    }

    @include mq($break-large) {
      width: 113.33px;
    }

    @include mq($break-vbig) {
      width: 100px;
    }
  }

  .line-one,
  .line-two {
    font-size: 1rem;
    letter-spacing: 0.033rem;
  }

  // menu button
  .menu {
    width: 3.16rem;
    height: 2rem;
    padding: .16rem 0.66rem;
  }

  nav {
    .nav-pages {
      padding: 1.66rem;

      @include mq($break-medium) {
        margin-bottom: 1rem;
      }

     @include mq($break-big) {
        margin: 0 1.33rem 0 0;
      }

      .nav-link {
        font-size: 1.485rem;
        line-height: 1.9;
        letter-spacing: 0.019rem;

        @include mq($break-small) {
          font-size: 1.9rem;
        }

        @include mq($break-medium) {
          font-size: 0.9rem;
        }
      }
    }

    .nav-cta {
      margin: 1.66rem 1.33rem;

      @include mq($break-medium) {
        margin: 1rem 0;
      }

      .nav-link {
        font-size: 0.9rem;
        letter-spacing: 0.013rem;
      }

      .nav-item {
        height: 2rem;
      }

      .nav-item:first-of-type {
        margin-bottom: 0.66rem;

        @include mq($break-medium) {
          margin-right: 0.66rem;
        }
      }
    }
  }
} // close header
