/* header
----------------------------------------------------------------------------- */
header {
  width: $full-width;
//  position: fixed;
  border-bottom: .5rem solid $brand;
  display: flex;
  flex-direction: column;
  background: $white;

  @include mq($break-medium) {
    height: 140px;
    padding: 0 5%;
    flex-direction: row;
    justify-content: space-between;
  //  align-items: center;
  }

  @include mq(1326px) {
    padding: 0 120px;
  }

  /* logo styles */
  .logo {
    width: 130px;
    margin: 2rem 0 0 2rem;
    text-decoration: none;

    @include mq($break-medium) {
      width: 150px;

      margin: 32px 4rem 0 0;
      align-self: flex-start;
    }

    @include mq($break-big) {
      width: 170px;
    }

    @include mq($break-vbig) {
      width: 150px;
    }
  }

  .line-one,
  .line-two {
    display: block;
    font-family: $primary;
    font-size: 1.5rem;
    font-weight: $font-bold;
    text-align: center;
    letter-spacing: 0.05rem;
  }

  .line-one {
    color: $base;
    background: $brand;
  }

  .line-two {
    color: $white;
    background: $base;
  }

  /* navigation styles */
  // mobile layout
  nav {
    padding-top: 2.5rem;
    margin-top: 2rem;
    background: $brand-fade;

    @include mq($break-medium) {
      padding-top: 0;
      margin-top: 0;
      background: $white;
    }
  }

  nav,
  .nav-pages,
  .nav-cta {
    display: flex;
    flex-direction: column;
  }

  // narrow page layout - change to stack nav-pages beneath nav-cta and align both right at edge of wrapper
  // type agnostic
  @include mq($break-medium) {
    nav {
      align-items: flex-end;
    }

    .nav-pages {
      flex-direction: row;
      order: 2;
    }

    .nav-cta {
      flex-direction: row;
      order: 1;
    }
  }

  // change layout so that nav-pages and nav-cta are on same line on wide screens (currently 1280px and above)
  // type agnostic
  @include mq($break-big) {
    nav {
      flex-direction: row;
      align-items: center;
    }

    .nav-pages {
      margin-right: 2rem;
      order: 1;
    }

    .nav-cta {
      order: 2;
    }
  }

  // typography for ALL breakpoints starting for mobile
  .nav-link {
    color: $base;
    font-weight: $font-bold;
    text-decoration: none;
  }

  .nav-pages {
    padding: 0 2.5rem;

    .nav-link {
      font-size: 1.65rem;
      line-height: $lh-body;

      @include mq($break-small) {
        font-size: $font-medium;
      }

      @include mq($break-medium) {
        line-height: 0;
      }
    }

    @include mq($break-medium) {
      min-width: 600px;
      padding: 0;
      justify-content: space-between;
      background: $white;

      .nav-link {
        font-size: $font-root;
      }
    }
  }

  .nav-cta {
    margin: 2.5rem 2rem;

    @include mq($break-medium) {
      margin: 1.5rem 0; // add .5 margin-bottom on full width
    }

    .nav-item {
      height: 3rem;
      padding: 0 .75rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .nav-item:first-of-type {
      margin-bottom: 1rem;
      background: $white;

      @include mq($break-medium) {
        background: $brand;
        margin-bottom: 0;
        margin-right: 1rem;
      }
    }

    .nav-item:last-of-type{
      background: $base;

      // pull this one back - style as .nav-link:last-of-type or similar?
      .nav-link {
        color: $white;
      }
    }
  }
}
