{% if item.acf_fc_layout == 'accordian_block' %}
  <div class="accordian">
    {% if item.title %}
    <h2 class="section-title">{{ item.title }}</h2>
    {% endif %}
    <p class="text">{{ item.text }}</p>
    {% for item in item.accordian %}
      <div class="accordian-item">
        <div class="item-title-holder">
          <h3 class="item-title">{{ item.title }}</h3>
          <button aria-label="go to answer">
            <!-- <img src="/wp-content/themes/cornwall-advocacy/icons/Icon_Plus.svg" class="faq-cross"> -->
          </button>
          </div>
        <div class="item-content">
          {{ item.content }}
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}
