{% if post.image %}
  <div class="banner" style="background-image: url('{{ Image(post.meta('image')).src }}');">
    {% if post.banner_headline %}
      <span class="banner-headline">{{ post.banner_headline }}</span>
    {% endif %}
  </div>

  {# {% else %} #}
{% endif %}
