{% if item.acf_fc_layout == 'text_image_block' %}
  {% for item in item.text_image %}
    <div class="text-image">
      {{ item.text }}
      <img src="{{ Image(item.image).src }}" class="image">
    </div>
  {% endfor %}
{% endif %}
